:root {
  --item-bg: #f6f6f6;
  --item-bg-hover: #ededed;
  --item-border: #c5c5c5;
  --remove-btn-bg: #ddd;
  --remove-btn-bg-hover: #ccc;
  --placeholder-border:#c1780e;
  --placeholder-bg: #ffe8af;
  --text-colour: #454545;
  --draggable-icon: url(../images/draggable.gif);
  --body-padding: 40px;
  --item-height: 32px;
}

body {
  margin: 0;
  padding: var(--body-padding);
  font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-5 {
  margin-left: 5px;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.sortable-left {
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

/*********/
/* Items */
/*********/

.sortable-left li {
  min-width: 300px;
  white-space: nowrap; 
  width: auto;
  height: auto;
  padding: 8px;
  border: 1px solid var(--item-border);
  border-bottom: 1px solid var(--item-border);
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
  
.sortable-left li:not(:last-child) {
  border-bottom: none;
}

.sortable-left li:last-child, .selected {
  border-bottom: 1px solid var(--item-border);
}

ul.sortable li:hover {
  background-color: var(--item-bg-hover);
  transition: background-color 0.15s ease;
}

ul.sortable li > .item {
  display: inline-block;
  margin: 7px 10px 0 0;
}

.draggable {
  background-image: var(--draggable-icon);
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  cursor: move;
}

.draggable-li {
  display: inline-block;
  cursor: move;
  padding: 6px 10px;
  width: 50px;
}

.ui-sortable-placeholder {
  --border-size: 2px;
  display: inline-block;
  border: var(--border-size) dashed var(--placeholder-border) !important;
  background-color: var(--placeholder-bg) !important;
  min-height: 36px !important;
  height: auto;
  padding: 0 !important;
}

.ui-widget-content {
  border: 1px solid var(--item-border) !important;
}

.sortable .ui-button {
  padding: 5px !important;
  margin: 0;
}

/********/
/* Form */
/********/

.add-buttons {
  text-align: center;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

button:disabled:hover {
  background-color: #f6f6f6 !important;
}

.remove {
  border: none;
  line-height: 1;
  width: 9px;
  height: 19px;
  max-width: 9px;
  max-height: 19px;
  padding: 0px 9px 3px 5px;
  border-radius: 3px;
  background-color: transparent;
  font-size: 1.5rem;
  color: red;
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: initial;
  user-select: none;
  transition: all 0.15s ease;
}

.remove:hover {
  opacity: 1;
  background-color: var(--remove-btn-bg);
  transition: all 0.15s ease;
}

ul.sortable-left > li > .text-content {
    width: 100%;
    margin: 0 5px;
}

.btn {
  padding: 4px 8px;
  cursor: pointer;
	font-size: 1rem;
}

ul.sortable-left > li.allowable-answer {
  padding: 8px;
}

ul.sortable-left > li.allowable-answer-editable {
  padding: 4px 8px;
}

ul.sortable-left > li.allowable-answer-editable input {
  padding: 4px;
  width: calc(100% - 10px);
  border: 1px solid #ccc;
}